#About {
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-size: 1.5rem;
}

.aboutContentContainer {
    display: flex;
    width: 80%;
    align-items: center;
    margin-top: 100px;
}

.aboutPicWrap {
    display: flex;
    min-width: 40%;
    margin: 20px;
}

.aboutPic {
    width: 100%;
    border-radius: 500px;
}

.davisLink {
    color: crimson !important;
}

#aboutDescription {
    display: flex;
    width: 50%;
    padding: 20px;
    line-height: 2rem;
}

@media screen and (max-width:990px) {
    .aboutContentContainer {
        flex-direction: column;
    }

    #aboutDescription {
        width: 100%;
    }
}