#Projects {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#Projects div {
    border-radius: 10px;
}
.projectsWrap {
    display: flex;
    min-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 40%;
    margin: 20px;
    padding: 10px;
}

.projectTitle {
    padding: 30px;
    font-size: 2rem;
}

.projectDescription {
    display: flex;
    flex-direction: column;
}
.technologies {
    display: flex;
    list-style-type: circle;
    justify-content: center;
    align-self: center;
}

.technologies li {
    margin: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 1.1rem;
}

.descriptionList {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    padding: 0px 5px 0px 5px;
}

.descriptionList li {
    margin: 5px 10px 5px 10px;
}

.myRole {
    display: flex;
    flex-direction: column;
}

.projectSubtitle {
    font-size: 1.3rem;
    margin: 10px;
}

.projectImgWrap {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

.projectImg {
   
    max-height: 269px;
}

.projectLinks {
    display: flex;
    width: 50%;
    margin: 5px;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.projectButton {
    font-size: 1.2rem;
    background-color: var(--grayThree);
    border-radius: 5px;
    padding: 8px;
}

.projectButton:hover {
    background-color: var(--grayFive);
}