#Projects {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#Projects div {
    border-radius: 10px;
}
.projectsWrap {
    display: flex;
    min-width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px;
    padding: 10px;
}

.projectTitle {
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 20px;
}
.technologies {
    display: flex;
    list-style-type: circle;
    align-self: center;
    flex-wrap: wrap;
}

.technologies li {
    margin: 15px 20px 5px 20px;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 1.2rem;
}

.descriptionList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px 5px 0px 5px;
}
.descriptionList li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: crimson; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1rem; /* Also needed for space (tweak if needed) */
    margin-left: -1rem; /* Also needed for space (tweak if needed) */
}
.descriptionList li {
    margin: 5px 10px 5px 10px;
}

.myRole {
    display: flex;
    flex-direction: column;
}

.projectSubtitle {
    font-size: 1.3rem;
    margin: 10px;
}

.projectImgWrap {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 5px;
    border: 0.5px solid var(--grayFive);
    transition: border ease-in-out 0.3s;
}

.projectImgWrap:hover {
    border: 1px solid white;
}

.projectImg {
    width: 100%;
    border-radius: 5px;
}

.projectLinks {
    display: flex;
    width: 50%;
    margin: 5px;
}

.projectButton {
    font-size: 1.2rem;
    background-color: var(--grayThree);
    border-radius: 5px;
    padding: 8px;
}

.projectButton:hover {
    background-color: var(--grayFive);
}

@media screen and (max-width: 1338px) {

    .project {
        flex-direction: column;
    }

    #marfareProject.project, #musicProject.project {
        flex-direction: column-reverse; 
    }

    .projectImgWrap {
        width: 100%;
    }

    .projectDescription {
        width: 100%;
    }

}